*{
    margin:0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 60%;
    display: block;
    margin: 100px auto;
    text-align: center;
    
}
.container span{
    font-size: 90px;
    margin-right: 10px;
}

.container button{
    background-color: black;
    border-radius: 25px;
    padding: 5px 25px 10px;
    border: none;
    font-size: 17px;
    color:white;
    font-weight: 500;
    margin-right: 10px;
}